<div>
<div class="context-box" *ngFor="let listing of listings">
    <span>
        <h3>{{listing.name}}</h3>
        <p>{{listing.description}}</p>
        <p>${{listing.price}}</p>
    </span>
    <span class="button-container">
        <a routerLink="/edit-listing/{{listing.id}}">
            <button>Edit</button>
        </a>
        <button (click)="onDeleteClicked(listing.id)">Delete</button>
    </span>
</div>
<div>   
    <a routerLink="/new-listing">
        <button>Create new listing</button>
    </a>
</div>
</div>
